body {
  background: #00505c;
}

::placeholder {
  color: white;
}

.pop {
  display: none;
}

.hoverPop:hover {
  background: red;
}

.hoverPop:hover .pop {
  display: block;
  position: relative;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

* {
  margin: 0;
}

.container {
  padding: 0 1rem;
}

.btn {
  display: block;
  border: none;
  background: #555555;
  color: #ffffff;
  padding: 7px 20px;
  cursor: pointer;
}

.btn:hover {
  background: #666666;
}
