.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #8a1c90;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

* {
  margin: 0;
}

.container {
  padding: 0 1rem;
}

.btn {
  display: block;
  border: none;
  background: #1c1455;
  color: #f1a5ff;
  padding: 7px 20px;
  cursor: pointer;
}

.btn:hover {
  background: rgba(102, 32, 49, 0.48);
}
