html {
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 22px;
  height: 100%;
  min-width: 500px;
  background-color: rgb(161, 190, 243);
}

code {  
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  flex: 1 0 auto;
}

.form {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  margin: 10px 0px;
  margin-bottom: 35px;
  /* border: 5px solid rgb(197, 0, 138);*/
}

.form input {
  padding: 10px;
  font-size: 20px;
}

.label_checkbox {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  padding: 5px 9px;
}

.label_wrapper {
  width: 300px;
}

.form__label {
  text-align: center;
  cursor: pointer;
}

.form__title {
  width: 350px;
  margin-right: 40px;
}

.form__date {
  margin-left: 10px;
}

.form__button {
  margin-left: 10px;
  cursor: pointer;
}

.form__button:hover {
  color: white;
  background-color: black;
}

.footer {
  margin-top: 20px;
  margin-bottom: 150px;
  background-color: rgb(161, 190, 243)  ;
  align-items: center;
  flex: 0 0 auto;
}

.footer p {
  padding: 20px;
  text-align: center;
  color: black;
}

.some-trouble {
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  background-color: red;
}

.form__filter {
  justify-content: space-between;
}

.form__title--filter {
  margin: 0;
  width: 45%;
}

.form__button--filter {
  margin: 0;
  width: 45%;
}

.navigation {
  margin-bottom: 50px;
}

.navigation__nav {
  max-width: 1000px;
  margin: 0 auto;
}

.navigation__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  margin: 0;
  list-style: none;
}

.navigation__item {
  margin: 0;
  margin-right: 30px;  
}

.navigation__item a {
  display: block;
  width: 250px;
  padding: 20px;
  color: black;
  text-decoration: none;
  text-align: center;
  font-weight: 700;
  background-color: rgb(161, 190, 243)  ;
  border-radius: 20px;
} 

.navigation__item a:hover {
  background-color: #ff029e8c;
  transition: 0.2s;
}

.navigation__item a:active {
  background-color: #e7098b;
}

.calculator__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.calculator__button {
  display: block;
  width: 250px;
  padding: 13px;
  color: black;
  text-decoration: none;
  border: 2px solid black;
  text-align: center;
  font-weight: 700;
  background-color: #666666;
}

.calculator__button:hover {
  background-color: #09d3ac;
}

.calculator__result {
  padding: 0;
  margin: 0;
  display: block;
  width: 400px;
  text-align: center;
  font-size: 200px;
  font-weight: 700;
  color: red;
}

.calculator__button--round {
  display: none;
}

.calculator__result--text {
  display: none;
  font-size: 30px;
}

